<%- include('includes/head')%>
<%- include('includes/nav')%>
    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
          <h1 class="text-center">Criar conta ou fazer Login</h1>
          <p class="text-center lead">Faça login ou crie sua conta abaixo</p>

          <div class="row">
            <div class="col-lg">
              <h4>Faça seu cadastro</h4>
              <p>Caso ainda não for cadastrado, realizar preenchimento do formulário abaixo:</p>
              <form action="/login/register" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="form-group mb-3">
                  <label for="inputEmail" class="form-label">E-mail</label>
                  <input type="email" class="form-control" id="inputEmail" aria-describedby="email" name="email">
                  <div id="emailHelp" class="form-text">Informe seu e-mail.</div>
                </div>

                <div class="form-group mb-3">
                  <label for="inputPassword" class="form-label">Senha</label>
                  <input type="password" class="form-control" id="inputPassword" aria-describedby="senha" name="password">
                  <div id="inputPassword" class="form-text">Informe sua senha.</div>
                </div>
                
                <button type="submit" class="btn btn-primary">Criar conta</button>
              </form>

            </div>

            <div class="col-lg">

              <h4>Faça seu login</h4>

              <p>Caso seja cadastrado, realizar login abaixo:</p>
              <form action="/login/login" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="form-group mb-3">
                  <label for="inputEmail" class="form-label">E-mail</label>
                  <input type="email" class="form-control" id="inputEmail" aria-describedby="email" name="email">
                  <div id="emailHelp" class="form-text">Informe seu e-mail.</div>
                </div>

                <div class="form-group mb-3">
                  <label for="inputPassword" class="form-label">Senha</label>
                  <input type="password" class="form-control" id="inputPassword" aria-describedby="senha" name="password">
                  <div id="inputPassword" class="form-text">Informe sua senha.</div>
                </div>
                
                <button type="submit" class="btn btn-primary">Acessar</button>
              </form>

            </div>
          </div>
        </div>

        <div class="col-lg-2"></div>
      </div>
    </div>
<%- include('includes/footer')%>